* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: absolute;
  height: 60px;
}

.header-flex {
  
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header--nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header--nav > a {
  color: white;
  text-decoration: none;
}

.header--nav--cadastrar {
  border: 1px solid white;
  padding: 8px 30px;
  border-radius: 8px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}

.home {
  color: white;
  padding-top: 80px;
  background: linear-gradient(95.24deg, #1e52b4 -10.53%, #002777 103.54%);
}

.home > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home--texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 435px;
}

.home--texts h1 {
  font-size: 28px;
}

.home--texts h2 {
  font-size: 18px;
}

.article--container {
  display: flex;
  color: #4e4b59;
  align-items: center;
  height: 80px;
  justify-content: center;
  border-radius: 12px;
  background-color: white;
  padding: 0 40px;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);

  max-width: 880px;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
}

.article--container input {
  border: none;
  outline: none;
  border-right: 1px dashed #4e4b59;
  padding: 20px 20px 20px 20px;
  position: relative;
}

.article--container button {
  background-color: #009c3b;
  color: white;
  margin-left: 20px;
  border: none;
  padding: 16px 30px;
  border-radius: 8px;
  cursor: pointer;
}

#cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
}

.card h3 {
  color: #ffdf00;
  font-size: 16px;
}
.card h2 {
  font-size: 16px;
}
.card h4 {
  font-size: 12px;
}

.card--titles {
  display: flex;
  justify-content: space-between;
}

.last-section .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last--texts{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 465px;
}

.last--texts h1{
    font-size: 28px;
}
.last--texts h2{
font-size: 20px;
}

.footer{
    display: flex;
    color: white;
    flex-direction: column;
}

.first-footer{
    background: linear-gradient(90deg, #009C3B 0%, #009538 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    justify-content: center;
    gap: 20px;

}

.second-footer{
    color: #2E2736;
    background-color: #FFDF00;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
